[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PsiTurk = "==2.2.3"
"psycopg2" = "==2.7.4"
Python = "==2.7.14"
"psycopg2-binary" = "==2.7.4"

[dev-packages]

[requires]
python_full_version = "2.7.14"
