<div id="container-instructions" align="center">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well" align="center">

        <p>
            This is a brief survey about artwork evaluations.<br></br>
            This task should take you around 45 minutes to complete.<br></br>
            The details instructions on how to proceed with this task will be provided as you go.
        </p>

        <p>
            Please click the button below to begin the task.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin the art task! <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
